.App {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("./images/Background.webp");
  height: 100vh;
}

.credit {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

@media (min-width: 463px) {
  .credit {
    display: block;
  }
}
